body {
	background-color: #fff;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.movies-container {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    align-content: space-between;
}
.card {
    align-content:space-between;
    margin:5px  20px;
}

.btn-primary {
    text-align:center;
}