.row {
  margin:0;
}

img {
  height: 100px;
  width:200px;
  margin:10px;
}

#rock {
  background-color: green;
  color: white;
  font-size: 2em;
  margin: 15px;
}

#paper {
  background-color: yellow;
  font-size: 2em;
  margin: 15px;
}

#scissors {
  background-color: black;
  color:white;
  font-size: 2em;
  margin: 15px;
}
